.form{
  display: flex;
  flex-direction: column;
}

.traffic-light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  margin: auto;
}

.light {
  width: 60px;
  height: 60px;
  margin: 10px 0;
  border-radius: 50%;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}






.toast-box{
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
}

.toast{
  background-color: green;
  width: 10rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  position: relative;
  margin: 0.5rem;

  span{
    position: absolute;
    right: 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  animation: animate 1s 1;
}

@keyframes animate{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0%);
  }
}

.success{
  background-color: green;
}
.warning{
  background-color: yellow;
}
.info{
  background-color: blue;
}
.error{
  background-color: red;
}







#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
